<a href="https://colab.research.google.com/github/Noora-91/PortfolioProjects/blob/main/Sydney_airbnb_sql_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Summarize data of Airbnb Sydney!

<center>
<img src=https://live-production.wcms.abc-cdn.net.au/4d72b144a5661c8423472b84e0b11720 width="400"></center><br />

Welcome to my *SQL Crash Course* project! 


This is a project for CoRise SQL fundemental course that I submitted to recieve my certificate. In this project I have up with additionl questions than required at the end that I am able to solve by using SQL!
This project environment was configured by CoRise and I have made certain changes to it to fit my needs. All the SQL solutions here are attempted by me.

##### Prerequisite configuration
Below we install the software required to run this project. Please make sure to **RUN IT** by clicking on the play-button icon when you hover on the empty square bracket. And feel free to ignore the content of these two hidden cells.

IMPORTANT: These cells may have to be rerun every time you are away from the notebook a long time or access notebook on a different browser or a different laptop.

In [ ]:
%%capture
!pip install git+https://github.com/sb2nov/sql-cc.git

import pandas as pd
from IPython.display import display, HTML
import sqlcc
from sqlcc import check

# Show all the rows (instead of only a few)
pd.set_option("display.max_rows", None)

# Set precision to max 2 decimals
pd.set_option('precision', 2)

# Set CSS Style for Table
# Make it work with night & light mode
# - Alternating rows
# - th elements
# - td elements
css_style = '''
<style>
  html {
    --td-font-color: black;
    --font-color: black;
    --background-color: #e0e0e0;
  }
  html[theme=dark] {
    --td-font-color: white;
    --font-color: black;
    --background-color: #6688ff;
  }
  th {
    background: #fbd44c;
    color: var(--font-color);
    font-size: 16px;
    text-align: center;
    font-weight: bold;
  }
  tr:nth-child(even) {
    background-color: var(--background-color);
    color: var(--font-color);
  }
  td {
    font-size: 14px;
    color: var(--td-font-color);
  }
</style>
'''


def run(sql_query):
  df = sqlcc.run(sql_query)
  
  # Puts the scrollbar next to the DataFrame
  display(HTML(css_style + 
               "<div style='max-height: 500px; overflow: auto; width: fit-content; border-style: solid;" + 
               " border-width: 1px; border-color: #0139fe; font-family: GT Planar,Inter,Arial,sans-serif;'>" +
               df.style.render() +
               "</div>"))

## Introduction

The picture below show the table that are accessible for information regarding the **listings**, **neighbourhoods**, **reviews**, and **calendar** of the Airbnb Sydney. Each of these have their own separate table, and follow the structure as shown.
<center>
<img src="https://corise.com/static/course/sql-crash-course/assets/cl9owz44x005e13a00fb5fhl0/Screen Shot 2022-10-25 at 5.42.23 PM.png" height="450">

### It's time to have a look through all the data sets available.

In [ ]:
query = """
SELECT * FROM neighbourhoods
"""
run(query)

In [ ]:
query = """
SELECT * FROM listings
"""
run(query)

In [ ]:
query = """
SELECT * FROM calendar
"""
run(query)

In [ ]:
query = """
SELECT * FROM reviews
"""
run(query)

I was requested to write a SQL query that will give the following information about the host whose name starts with Jos... that we are not quite sure about within the neighbourhood_id 21. He had called earlier this morning complaining that his listing in the AirBnb never gets booked and is very dissapointed. Lets get to work to undestand why this could be happening!!!

The manual way of getting this could be to find 
*   the neighbourhood name
*   the availability of the room on the calendar
*   if there are any reviews written for the room

later we will see the aggregated way using joins to get the same answer.

Printing a list of hosts whose names start with the letters Jos...

In [ ]:
query = """
SELECT * 
FROM listings 
WHERE host LIKE 'Jos%';
"""

run(query)

Well! his name is Joshua and We identified the neighbourhood_id is "21" so now we can query on the neighbourhoods table

In [ ]:
query = """
SELECT * 
FROM neighbourhoods 
WHERE neighbourhood_id = 21;
"""
run(query)

Lets try to get all the Availability details from the calender table for the listing_id "22296011"

In [ ]:
query = """
SELECT * 
FROM calendar 
WHERE listing_id = 22296011;
"""
run(query)

It seem there are no availibility for this specific listing and that should be the reason for this listing to not getting booked. By the way lets also investigate to see if there are any bad experience for this listing through analyzing the reviews table.

In [ ]:
query = """
SELECT * 
FROM reviews 
WHERE listing_id = 22296011;
"""

run(query)

Ooooops! There isn't any single review or comment. We can solve the problem by fixing the availability in the calender.

We can find that the host's name is "Joshua." He lives in Marrickville, has no availablility all week, and no reviews have been made for his room.

Let us find 5 listing with most reviews

In [ ]:
query = """
SELECT COUNT(listing_id), listing_id
FROM reviews
GROUP BY listing_id
ORDER BY COUNT(listing_id) DESC
LIMIT 5;
"""
run(query)

Let us also find to whom these listings belong and the neibourhood of these listings.

In [ ]:
query = """
SELECT reviews.listing_id, COUNT(reviews.listing_id), listings.host_id, listings.host
FROM reviews
LEFT JOIN listings
ON listings.listing_id = reviews.listing_id
GROUP BY reviews.listing_id
ORDER BY COUNT(reviews.listing_id) DESC
LIMIT 5;
"""
run(query)

Now let us find the 10 least reviewed listed_ids and to whom these listings belong and the neibourhood of these listings.

In [ ]:
query = """
SELECT reviews.listing_id, COUNT(reviews.listing_id), listings.host_id, listings.host
FROM reviews
LEFT JOIN listings
ON listings.listing_id = reviews.listing_id
GROUP BY reviews.listing_id
ORDER BY COUNT(reviews.listing_id) ASC
LIMIT 10;
"""
run(query)

Different rooms types available for booking

In [ ]:
query = """
SELECT DISTINCT room_type
FROM listings;
"""
run(query)

Available units for eacg category

In [ ]:
query = """
SELECT room_type, COUNT(room_type)
FROM listings
GROUP BY room_type;
"""
run(query)

Out of the three different room_type which type has acquired more reviews

In [ ]:
query = """
SELECT 
  listings.room_type, 
  COUNT(listings.room_type) AS No_of_room_type, 
  COUNT(reviews.listing_id) AS No_of_reviews
FROM listings
LEFT JOIN reviews
  ON listings.listing_id = reviews.listing_id
GROUP BY room_type;
"""
run(query)

In [ ]:
query = """
SELECT  
  listings.listing_id,
  listings.room_type,
  COUNT(reviews.listing_id) AS No_of_reviews
FROM listings
LEFT JOIN reviews
  ON listings.listing_id = reviews.listing_id
GROUP BY listings.listing_id
ORDER BY COUNT(reviews.listing_id) DESC;
"""
run(query)

Let's try to print listing_ids that do not have any reviews to them

In [ ]:
query = """
SELECT  
  listings.listing_id,
  listings.room_type,
  COUNT(reviews.listing_id) AS No_of_reviews
FROM listings
LEFT JOIN reviews
  ON listings.listing_id = reviews.listing_id
WHERE reviews.listing_id IS NULL
GROUP BY listings.listing_id;
"""
run(query)

Let's have a look at the 10 most expensive listings

In [ ]:
query = """
SELECT calendar.listing_id, listings.room_type, calendar.price_in_dollar
FROM calendar
LEFT JOIN listings
  ON calendar.listing_id = listings.listing_id
ORDER BY calendar.price_in_dollar DESC
LIMIT 10;
"""
run(query)

Number of listings in each neighbourhood

In [ ]:
query = """
SELECT 
  neighbourhoods.neighbourhood_id,
  neighbourhoods.neighbourhood,
  COUNT(listings.listing_id) AS no_of_listings
FROM listings
LEFT JOIN neighbourhoods
  ON neighbourhoods.neighbourhood_id = listings.neighbourhood_id
GROUP BY neighbourhoods.neighbourhood_id
ORDER BY no_of_listings DESC;
"""
run(query)

Find the cheapest booking in the neighbourhood "Waverley" with the most reviews

In [ ]:
query = """
SELECT 
  listings.listing_id, 
  listings.price_in_dollar,
  neighbourhoods.neighbourhood
FROM listings
LEFT JOIN neighbourhoods
  ON neighbourhoods.neighbourhood_id = listings.neighbourhood_id
WHERE neighbourhoods.neighbourhood = 'Waverley' AND
  listings.price_in_dollar > 800
GROUP BY neighbourhoods.neighbourhood_id;
"""
run(query)

In [ ]:
query = """
SELECT 
  listings.price_in_dollar AS list_price,
  Calendar.price_in_dollar
FROM listings
LEFT JOIN calendar
  ON listings.price_in_dollar = Calendar.price_in_dollar;
"""
run(query)